# Byte-compiled / optimized / DLL files
__pycache__/
pyenv/
libdatachannel/
_index.html
a.exe
build/
dist/
test.log
*.cpp
*.txt
*.exe
main.spec
fullscreen.py
GBC-S2Ws/
graphics/images/*
graphics/teams/*